body{
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(195, 140, 222); */
    background-image: url(wave-haikei\ \(9\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;

    @media screen (min-width: 600px) 
}

.innerC{
    
}

.container{
background-color:rgb(255, 255, 255);
min-height:400px;
min-width:400px;
z-index:100;
border:5px solid black;
border-radius:20px;
text-align:center;
display:flex;
justify-content: center;;
align-items: center;;
padding-bottom:100px;
position:fixed;
}

#cart{
    height:200px;
    width:200px;
    margin-top:-40px;
    margin-bottom:30px;

}

.innerC input{
    background-color: rgb(206, 203, 203);
    border-radius:10px;
    border:none;
    text-align:center;
    font-size:1.5em;
    margin-bottom:15px;
    padding:15px;
}

.innerC button{
    background-color:rgb(183, 61, 61);
    font-size:1.5em;
    padding:15px;
    color:white;
    border:none;
    padding-left:100px;
    padding-right:100px;
    border-radius:10px;

}

/* #boxb{
    background-color:rgb(252, 222, 251);
    position:fixed;
    top:0;
    right:0;
    left:500px;
    bottom:0;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 20%;
} */

ul{
    position:absolute;
    left:120px;
    
}

li{
    list-style-type: none;
    font-size:2em;
}

